Api/bin/
Api/obj/
.vs/
ApiTests/bin/
ApiTests/obj/
Model/obj/
Operations/bin/
Operations/obj/
Model/bin/
Deploy/airbox_vm
Deploy/airbox_vm.pub
*.pem
Deploy/digitalocean/airbox_vm
Deploy/digitalocean/airbox_vm.pub
